@{
    ViewBag.Title = "Buat SMS";
}

<div class="row">
    <h2>Buat SMS&nbsp;<img src="~/Content/images/loading.gif" id="loading" class="hide"/></h2>
</div>
<div id="error" class="row hide"></div>
<form id="compose-form" method="post" action="@Url.Content("~/Message/Process")">
<div class="label row">
    <label for="DestinationNumber">Nomor tujuan</label>
</div>
<div class="input-wrapper row">
    <input name="DestinationNumber" size="20" value="@ViewBag.DestinationNumber" type="text" /> <input type="button" value="Ambil dari kontak" class="submit" style="width: auto !important;"/>
</div>
<div class="label row">
    <label for="Content">Pesan</label>
</div>
<div class="input-wrapper row">
    <textarea id="smsmsg" name="Content" cols="32" rows="5">@ViewBag.MessageContent</textarea>
</div>
<div class="label row">
    <span>Panjang karakter <span id="smslen" style="border:none;">0</span></span>
</div>
<div class="label row">
    <br />
    <label>Pengiriman terjadwal</label><br />
    <input type="checkbox" name="Scheduled" id="schedulecheck" @ViewBag.ScheduleCheck/>
    <label for="schedulecheck">Aktifkan penjadwalan</label>
</div>
<div class="input-wrapper row">
    <input type="datetime" name="ScheduleTime" id="scheduletime" value="@if(ViewBag.Scheduled)
                                                                        {
                                                                            @ViewBag.ScheduleTime;
                                                                        }
                                                                        else
                                                                        {
                                                                            DateTime.Now.ToString();
                                                                        }" />
</div>

<div class="label row">
    <span>Perintah</span>
</div>

<div class="row input-wrapper">
    <input type="radio" name="smsAction" id="action-send" value="1" checked="checked"/><label for="action-send" class="sms-action-label">Kirim</label>
    <input type="radio" name="smsAction" id="action-draft" value="0"/><label for="action-draft" class="sms-action-label">Simpan ke draft</label>
</div>
<div class="row">
    <br />
    <input type="submit" id="process-button" value="Proses SMS" class="submit" />
</div>

</form>

<script>
    $(document).ready(function () {
        /*
        $("#process-button").click(function () {
            alert($("#action-send").prop("checked"));
            return false;
        });
        */

        /* Mengubah tampilan tombol aksi */
        $(".sms-action-label").each(function () {
            if ($(this).prop("for") == "action-send") {
                $(this).addClass("checked");
            }
            $(this).click(function () {
                $(".sms-action-label").each(function () {
                    $(this).toggleClass("checked");
                });
            });
        });
        
        $("input[name=smsAction]").hide();
        $(".sms-action-label").click

        $("#loading").hide();
        $("#error").hide();
        $("#scheduletime").datepicker({ dateFormat: "m/d/yy 00:00:00" });

        $("#scheduletime").each(function () {
            if ($("#schedulecheck").prop("checked")) {
                $(this).show();
            }
            else $(this).hide();
        });
        $("#scheduletimelabel").hide();



        $("#schedulecheck").click(function () {
            if ($(this).attr("checked")) {
                $("#scheduletime").fadeIn(500);
            }
            else {
                $("#scheduletime").fadeOut(500);
            }
        });

        $("#smsmsg").keyup(function () {
            var smslen = $("#smsmsg").val().length
            $("#smslen").text(smslen);
            if (parseInt(smslen) > 160) {
                $("#smsmsg").css("background-color", "#F5FF8C");
                $("#smslen").css({ "font-weight": "bold", "color": "red" });
            } else {
                $("#smsmsg").css("background-color", "");
                $("#smslen").css({ "font-weight": "normal", "color": "black" });
            }

        });

        $("#smsform").submit(function () {
            $("#loading").show();
            var smslen = $("#smsmsg").val().length;
            if (smslen >= 160) {
                $("#error").html("SMS Anda melebihi 160 karakter. Pengiriman tidak dapat dilakukan.")
                $("#error").hide();
                $("#error").fadeIn(500);
                return false;
            }
            else {
                $.post("@Url.Content("~/Message/Send")", $(this).serialize(), function (data) {
                $("#loading").hide();
                    if (data == "false") {
                        $("#error").html("Terjadi kesalahan dalam proses pengiriman")
                        $("#error").hide();
                        $("#error").fadeIn(500);
                        return false;
                    }
                    else {
                        window.location = "@Url.Content("~/Message/Outbox?success=1")";
                }
                }, "text");
            }

            return false;
        });

        $("#savedraft").click(function () {
            $("#draft").val("true");
            $("#smsform").trigger("submit");
            $("#draft").val("false");
        });
    });

</script>