@model IEnumerable<PublicWebSms.Models.SMS>

@{
    ViewBag.Title = "Outbox";
}

<div class="row">
    <h2>Outbox</h2>
</div>
<div class="row">
    <input type="button" value="Buat Pesan Baru" id="newmessage" class="submit" />
</div>

    <br />
@if (ViewBag.Success == 1)
{
    <div id="information">Pesan telah tercatat! Menunggu proses pengiriman dari server SMS Gateway.</div>
}
<div class="row">
    <table width="100%" id="outbox-table">
    <tr>
        <td width="20%"><strong>Waktu pengiriman</strong></td>
        <td width="20%"><strong>Nomor tujuan</strong></td>
        <td width="70%"><strong>Pesan</strong></td>
        <td width="10%"><strong>Status</strong></td>
    </tr>
    @foreach (PublicWebSms.Models.SMS sms in Model)
    {
        <tr>
            <td>@sms.TimeStamp</td>
            <td>@sms.DestinationNumber</td>
            <td>@sms.Content</td>
            <td class="statussms">@if (@sms.Draft == true)
                {
                    <i>Draft</i>
                    <br />
                    <a href="~/Message/Compose/@sms.SmsId">Sunting</a>
                }
                else
                {
                    if(@sms.Sent == true)
                    {
                        <span>Terkirim</span>
                    }
                    else
                    {
                        <span>Belum diproses</span>
                    }
                }
            </td>
        </tr>
    }
</table>
</div>

<script>
    $(document).ready(function () {
        $("#newmessage").click(function () {
                window.location = "@Url.Content("~/Message/Compose")";
        });
    });
</script>