@model IEnumerable<PublicWebSms.Models.SMS>

@{
    ViewBag.Title = "Outbox";
}

<h2>Outbox</h2>

<input type="button" value="Buat Pesan Baru" id="newmessage" />
<br /><br />
@if (ViewBag.Success == 1)
{
    <div id="information">Pesan telah tercatat! Menunggu proses pengiriman dari server SMS Gateway.</div>
}
<table width="100%" id="outbox-table">
    <tr>
        <td width="20%">Waktu pengiriman</td>
        <td width="20%"><strong>Nomor tujuan</strong></td>
        <td width="70%"><strong>Pesan</strong></td>
        <td width="10%"><strong>Status</strong></td>
    </tr>
    @foreach (PublicWebSms.Models.SMS sms in Model)
    {
        <tr>
            <td>@sms.TimeStamp</td>
            <td>@sms.DestinationNumber</td>
            <td>@sms.Content</td>
            <td>@if (@sms.Draft == true)
                {
                    <i>Draft</i>
                    <br />
                    <a href="~/Message/Compose/@sms.SmsId">Sunting</a>
                }
                else
                {
                    if(@sms.Sent == true)
                    {
                        <i>Terkirim</i>
                    }
                    else
                    {
                        <i>Belum diproses</i>
                    }
                }
            </td>
        </tr>
    }
</table>
<input type="button" value="Buat Pesan Baru" id="newmessage" />
<br />

<a href="~/Account/Logout">Logout</a>

<script>
    $("#newmessage").click(function () {
        window.location = "@Url.Content("~/Message/Compose")";
    });
</script>
